{% extends 'document_js_codes.html' %}

{% load static %}

{% block document_header %}
    <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'dashboard' %}">

                    <b>
                        <img src="/static/assets/images/logo-light-icon.png" class="light-logo" alt="homepage">
                    </b>
                    
                    
                
                <span style>
                        <!-- <img src="/static/assets/images/logo-light-text.png" class="light-logo" alt="homepage"> -->
                        PaftamiYap
                </span>
                </a>

            </div>

            <div class="navbar-collapse">

                <ul class="navbar-nav mr-auto">

                    <!-- This is  -->
                    <li class="nav-item"><a class="nav-link nav-toggler d-block d-md-none waves-effect waves-dark"
                                            href="javascript:void(0)"><i class="ti-menu"></i></a></li>
                    <li class="nav-item"><a
                            class="nav-link sidebartoggler d-none d-lg-block d-md-block waves-effect waves-dark"
                            href="javascript:void(0)"><i class="icon-menu ti-menu"></i></a></li>
                </ul>


                <ul class="navbar-nav my-lg-0">


                    <!-- ============================================================== -->
                    <!-- End mega menu -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- User Profile -->
                    <!-- ============================================================== -->
                    <li class="nav-item dropdown u-pro show">
                        <a class="nav-link dropdown-toggle waves-effect waves-dark profile-pic"
                           href="{% url 'logout' %}"
                        ><span class="hidden-md-down">Logout &nbsp;<i
                                class="fa fa-power-off"></i></span> </a>
                    </li>
                </ul>
            </div>


        </nav>
    </header>
{% endblock document_header %}